

/* banner css design
===================================*/


.section-container-items{
  padding:100px 0px 0px 0px;
}


span, i, button, a{
    text-decoration: none;
    outline: none;
}

.section a{
    display: inline-block;
}

.section h1{
    font-size: 68px;
    font-weight: 600;
    text-transform: capitalize;
    color: #f4f4f4;
    letter-spacing: -0.21px;
    line-height: 90px;
    margin: 0; padding: 0;
}

.section h3{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.30px;
	padding: 0;
    margin-top: 8px;
    margin-left: 2px;
    color: #fff;
    opacity: 0.7;
}

.section button{
    margin-top: 30px;
    display: block;
    padding: 15px 24px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.18px;
    line-height: 17px;
    border-radius: 50px;
    background: #249af2;
    border: none;
    cursor: pointer;
    color: #f4f4f4;
    transition: all 250ms ease-in-out;
}


.section button i{
    font-size: 14px;
    margin-right: 8px;
}

.section button span{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.20px;
    margin-left: 3px;
}

.look {
    color: #05cc47;
    font-size: 3.7em;
    transform: rotate(90deg);
}


.alta-title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    right: 0; 
	transform: rotate(90deg) translateY(-60px);
}

.alta img {
    width:100%;
    height: auto;
}


/* small screen device responsive 
===================================*/

@media  only screen and (min-width:1200px){
.nav-item > .nav-link{
   padding:5px 20px!important;
   display:block;
}
}

@media  only screen and (max-width:992px){
.header-inner{
  background-color:white;
  width:100%!important;
}
 .nav-item .nav-link {
  color:black;
}

.section h1{
    font-size:40px!important;
    line-height:55px!important;
}

.navbar-brand{
    color: #000!important;
	font-weight:600;
}

.content-banner .first-title {
    font-size: 30px;
}
}
@media  only screen and (max-width:576px){
.search-model-form input {
    width: 257px!important;
    font-size: 20px!important;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    color: #999;
}
}